body {
  background-color: #fff;
  font-family: "Noto Sans JP", sans-serif;
  color: #555;
}

* {
  /* border: 1px solid red; */
}

header {
  padding-left: 16px;
  padding-right: 16px;
  max-width: 1200px;
  margin: 0 auto;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid #eee;
  padding: 8px 0;
}

.main-nav > ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

.main-nav li {
  display: inline-block;
  font-size: 14px;
  padding: 8px 4px;
  color: #4c884c;
  font-weight: bold;
}

.main-nav li a {
  color: inherit;
  text-decoration: none;
}

.main-nav li a:hover {
  color: #222;
}

.btn {
  border: 2px solid #ddd;
  padding: 12px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

.btn-light {
  background-color: #fff;
  color: #4c884c;
  transition: background-color 400ms linear;
}

.btn-light:hover {
  background-color: #4c884c;
  color: #fff;
}

.text-primary {
  color: #4c884c !important;
}

.cart {
  display: inline-block;
  margin-right: 32px;
}

.cart .count {
  font-size: 12px;
}

.language {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 14px;
  padding: 8px;
  margin-right: 32px;
  color: #777;
}

.spicestore {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 32px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.spicestore h1 {
  font-size: 68px;
  color: #4c884c;
  margin-top: -1px;
  margin-bottom: -1px;
  cursor: pointer;
  padding-top: 5px;
  flex-shrink: 0;
}

.word2 {
  color: #ddd;
}

.search {
  display: inline-block;
  padding-top: 45px;
}

.borders {
  border: 1px solid #eee;
}
input {
  border-top-width: 12px;
  border-bottom-width: 12px;
  border-left-width: 12px;
  border-right-width: 12px;
  border-color: transparent;
  outline: transparent;
  margin-right: 5px;
}

input::placeholder {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}

.search-icon {
  padding-right: 8px;
  border-color: transparent;
  outline: transparent;
  background-color: #fff;
  color: #777;
  cursor: pointer;
}

.menu-list {
  list-style: none;
  margin: 0;
  border: 2px solid #ddd;
  padding: 0 8px;
  font-size: 0;
}

.menu-list > li {
  display: inline-block;
  height: 64px;
  border-right: 1px solid #ddd;
  font-weight: bold;
  font-size: 17px;
  padding: 0 30px;
  line-height: 64px;
  transition: background-color 600ms ease;
}

.menu-list > li:hover {
  background-color: #555;
  color: #fff;
}


.submenu-list {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
  position: absolute;
  z-index: 2;
  list-style: none;
  margin: 0;
  /* border: 2px solid #ddd; */
  padding: 0 0px;
  font-size: 0;
  /* TODO */
  width: 100%;
  left: 0;
  top: 65px;
  display: none;
  background-color: #fff;
}

.submenu-list > li {
  display: inline-block;
  height: 60px;
  font-weight: bold;
  font-size: 12px;
  padding: 0 16px;
  line-height: 60px;
  color: #555;
  text-transform: uppercase;
}

.menu-list > li:hover .submenu-list {
  display: block;
}

.img-container {
  position: relative;
  text-align: center;
}

img {
  display: block;
  margin: 0;
  padding: 50px 0;
  height: 320px;
  width: 100%;
  background-size: cover;
}

.title1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 45px;
  padding-bottom: 90px;
}

.title1 > h2 {
  font-weight: lighter;
  line-height: 0;
  padding-top: 50px;
}

.title1 > h3 {
  font-size: 65px;
  font-weight: bolder;
}

.para {
  background: black; 
  background: rgba(117, 222, 96, 0.5); 
  color: #f1f1f1; 
  padding: 20px 0;
  text-align: center;
  position: absolute;
  bottom: 50px;
  margin: 0;
  height: 30px;
  transition: height .5s;
  font-size: 12px;
}



