body {
  background-color: #fff;
  font-family: "Noto Sans JP", sans-serif;
  color: #555;
  margin: 0;
}

* {
  /* border: 1px solid red; */
}

header {
  padding-left: 16px;
  padding-right: 16px;
  max-width: 1200px;
  margin: 0 auto;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid #eee;
  padding: 8px 0;
}

.main-nav > ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

.main-nav li {
  display: inline-block;
  font-size: 14px;
  padding: 8px 4px;
  color: #4c884c;
  font-weight: bold;
}

.main-nav li a {
  color: inherit;
  text-decoration: none;
}

.main-nav li a:hover {
  color: #222;
}

.btn {
  border: 2px solid #ddd;
  padding: 12px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

.btn-light {
  background-color: #fff;
  color: #4c884c;
  transition: background-color 400ms linear;
}

.btn-light:hover {
  background-color: #4c884c;
  color: #fff;
}

.text-primary {
  color: #4c884c !important;
}

.cart {
  display: inline-block;
  margin-right: 32px;
}

.cart .count {
  font-size: 12px;
}

.language {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 14px;
  padding: 8px;
  margin-right: 32px;
  color: #777;
}

.spicestore {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 32px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.spicestore h1 {
  font-size: 68px;
  color: #4c884c;
  margin-top: -1px;
  margin-bottom: -1px;
  cursor: pointer;
  padding-top: 5px;
  flex-shrink: 0;
}

.word2 {
  color: #ddd;
}

.search {
  display: inline-block;
  padding-top: 45px;
}

.borders {
  border: 1px solid #eee;
}
input {
  border-top-width: 12px;
  border-bottom-width: 12px;
  border-left-width: 12px;
  border-right-width: 12px;
  border-color: transparent;
  outline: transparent;
  margin-right: 5px;
}

input::placeholder {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}

.search-icon {
  padding-right: 8px;
  border-color: transparent;
  outline: transparent;
  background-color: #fff;
  color: #777;
  cursor: pointer;
}

.menu {
  background-color: #fff;
  width: 100%;
  z-index: 10;
  margin-bottom: 64px;
}

.menu.fixed {
  /* TODO: fixed menu width does not match actual menu width */
  position: fixed;
  top: 0;
}

.menu-list {
  list-style: none;
  margin: 0;
  border: 2px solid #ddd;
  padding: 0 8px;
  font-size: 0;
}

.menu-list > li {
  display: inline-block;
  height: 64px;
  border-right: 1px solid #ddd;
  font-weight: bold;
  font-size: 17px;
  padding: 0 30px;
  line-height: 64px;
  transition: background-color 600ms ease;
}

.menu-list > li:hover {
  background-color: #555;
  color: #fff;
}

.submenu-list {
  box-shadow: 0 10px 12px rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 2;
  list-style: none;
  margin: 0;
  padding: 0 0px;
  font-size: 0;
  /* TODO: Sub-menu width does not match parent width */
  width: 100%;
  left: 0;
  top: 65px;
  display: none;
  background-color: #fff;
}

.submenu-list > li {
  display: inline-block;
  height: 60px;
  font-weight: bold;
  font-size: 12px;
  padding: 0 16px;
  line-height: 60px;
  color: #555;
  text-transform: uppercase;
}

.menu-list > li:hover .submenu-list {
  display: block;
}

.banner-container {
  height: 392px;
}

.banner {
  position: relative;
  text-align: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* TODO : height 360px not working? */
  height: 360px;
  padding-top: 32px;
  animation: 12s autoplay infinite;
}

.banner > * {
  animation: 12s autoplay infinite;
  z-index: -1
  /* opacity: 0.0; */
}

@keyframes autoplay {
  0% {z-index: 0}
  33.32% {z-index: 0}
  33.33% {z-index: -1}
}

/* @keyframes autoplay {
  0% {opacity: 0.0}
  4% {opacity: 1.0}
  33.33% {opacity: 1.0}
  37.33% {opacity: 0.0}
  100% {opacity: 0.0}
} */

.banner.bg-1 {
  background-image: url("../images/slide-1.jpg");
  position: absolute;
  right: 0;
  left: 0;
  z-index: 3;
  animation-delay: 0s;
}

.banner.bg-2 {
  background-image: url("../images/slide-2.jpg");
  /* display: none; */
  position: absolute;
  right: 0;
  left: 0;
  z-index: 2;
  animation-delay: 4s;
}

.banner.bg-3 {
  background-image: url("../images/slide-3.jpg");
  /* display: none; */
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1;
  animation-delay: 8s;
}

.banner-title {
  text-align: center;
  font-size: 64px;
  font-weight: 400;
  color: #fff;
}

.banner-title .emphasis {
  display: block;
  font-weight: bolder;
}

.banner .details {
  background: rgba(117, 222, 96, 0.5);
  color: #f1f1f1;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  font-size: 12px;
  width: 100%;
  text-align: left;
}

.banner p {
  max-width: 1200px;
  margin: 0 auto;
  line-height: 1.7;
}

.bg-2 .details {
  background: #777;
  opacity: 0.5;
  color: #fff;
}

.bg-3 .details {
  background: #eee;
  opacity: 0.5;
  color: #000;
}

section.gutter {
  padding-left: 16px;
  padding-right: 16px;
  max-width: 1200px;
  margin: 0 auto;
}

section.padded {
  padding-top: 32px;
  padding-bottom: 32px;
}

.highlights {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.highlight-item {
  border: 2px solid #eee;
  padding: 8px;
  text-align: center;
  width: 366px;
  flex-shrink: 0;
  flex-grow: 0;
  transition: border-color 400ms ease;
}

.highlight-item:hover {
  border-color : #222;
}

.highlight-item figure {
  width: 100%;
  height: 288px;
  margin: 0 0 16px;
  font-size: 0;
}

.highlight-item figcaption {
  background-color: #4c884c;
  color: #fff;
  font-weight: bold;
  font-size: 32px;
  padding: 16px 0;
  transition: background-color 400ms ease;
}

.highlight-item:hover figcaption {
  background-color: #555;
}

.highlight-item p {
  font-size: 13px;
  margin-bottom: 16px;
  padding-left: 15px;
  padding-right: 15px;
  color: #777;
}

.highlight-item:hover p {
  color: #333;
}

.highlight-item button {
  padding: 10px 24px;
  margin-bottom: 8px;
  color: #555;
}