.ml-16 {
  margin-left: 16px;
}

.text-bold {
  font-weight: bold;
}

.relative {
  position: relative;
}

.img-responsive {
  width: 100%;
  max-height: auto;
}

.img-responsive-fit {
  width: 100%;
  max-height: fit-content;
}